# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
ENV/
ml-service/venv/

# Environment Variables
.env
.env.*

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Python Build
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs
# =========================
*.log
